@import "tailwindcss";

.root-layout-bg {
  min-height: 100vh;
  max-height: 100%;

  background-size: cover;
  background-position: center top;
  background-image: url('/bg-image-cropped.png');
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.7s ease-out forwards;
}